
{{ header }}{{ column_left }}
<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <div class="pull-right">
                <button type="submit" form="form-akaunting" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
                <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a>
            </div>
            <h1>{{ heading_title }}</h1>
            <ul class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        {% if error_warning %}
            <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        {% endif %}
        {% if success %}
        <div class="alert alert-success"><i class="fa fa-check-circle"></i> {{ success }}
            <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
        {% endif %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
            </div>
            <div class="panel-body">
                <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-akaunting" class="form-horizontal">
                    <div class="form-group required">
                        <label class="col-sm-2 control-label" for="input-key">{{ entry_key }}</label>
                        <div class="col-sm-10">
                          <textarea name="akaunting_api_key" placeholder="{{ entry_key }}" rows="5" id="input-key" class="form-control">{{ akaunting_api_key }}</textarea>
                          <br />
                          <button type="button" id="button-generate" class="btn btn-primary"><i class="fa fa-refresh"></i> {{ button_generate }}</button>
                          {% if error_key %}
                          <div class="text-danger">{{ error_key }}</div>
                          {% endif %} </div>
                      </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">{{ entry_enabled }}</label>
                        <div class="col-sm-10">
                            {% if akaunting_enabled %}
                                <label class="radio-inline">
                                    <input type="radio" name="akaunting_enabled" value="1" checked="checked" />
                                    {{ text_yes }}
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="akaunting_enabled" value="0" />
                                    {{ text_no }}
                                </label>
                            {% else %}
                                <label class="radio-inline">
                                    <input type="radio" name="akaunting_enabled" value="1" />
                                    {{ text_yes }}
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="akaunting_enabled" value="0" checked="checked" />
                                    {{ text_no }}
                                </label>
                            {% endif %}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript"><!--
$('#button-generate').on('click', function() {
	rand = '';

	string = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';

	for (i = 0; i < 256; i++) {
		rand += string[Math.floor(Math.random() * (string.length - 1))];
	}

	$('#input-key').val(rand);
});
//--></script>
{{ footer }}
