<div class="well">
    <table class="table table-bordered table-hover table-striped">
    <thead>
      <tr>
        <td class="text-center">{{ column_id }}</td>
        <td class="text-center">{{ column_ip }}</td>
        <td class="text-left">{{ column_comment }}</td>
        <td class="text-center">{{ column_date_added }}</td>
        <td class="text-center">{{ column_action }}</td>
      </tr>
    </thead>
    <tbody>
      {% if ips %} 
      {% for item_key, result in ips %}  
      <tr>
        <td class="text-center">{{ result.whitelist_id }}</td>
        <td class="text-center"><a href="http://www.geoiptool.com/en/?IP={{ result.ip_address }}" target="_blank">{{ result.ip_address }}</a></td>
        <td class="text-left" style="overflow-wrap: break-word;text-align: justify;max-width: 100px;">{{ result.comment }}</td>
        <td class="text-center">{{ result.date_added }}</td>
        <td class="text-center"><button type="button" value="{{ result.ip_address }}" data-toggle="tooltip" title="{{ button_remove }}" data-loading-text="{{ text_loading }}" class="btn btn-danger btn-sm"><i class="fa fa-minus-circle"></i></button></td>
      </tr>
        {% endfor %}
       {% else %}   
      <tr>
        <td class="text-center" colspan="5">{{ text_no_results }}</td>
      </tr>
      {% endif %}       
    </tbody>
  </table>
</div>
<div class="row">
  <div class="col-sm-6 text-left">{{ pagination }}</div>
  <div class="col-sm-6 text-right">{{ results }}</div>
</div>
